* {
    background-color: rgb(181, 218, 222);
}

#img {
    width: auto;
    /* We have to mention any of width or height , and the other one get set Automatically */
    height: 200px;
}
td{
    border: 2px solid black;
}