.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border: 2px solid black;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-flow: row row wrap;
    gap: 10px;
    /* make the both line in center */
}


.item {
    color: white;
    height: 32px;
    width: 50px;
    margin: 4px;
    border: 2px solid rgb(9, 70, 255);
    background-color: blueviolet;
}

.order-1 {
    order: 1;
}
/* jayche order kami asel toh adhi yael */
.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}